body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container{
    width: 100%;
    max-width: 650px;
    background-color: #ffffff;
    padding: 40px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.20);
    border-radius: 3px;
}

.icon-circle{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.comments .icon-circle{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.comments .comment{
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 22px 0;
}

.comments .comment:first-child{
    border: none;
    padding-top: 0;
}

.comments .comment:first-child{
    padding-top: 0;
}

.container-body{
    padding: 30px;
    background-color: #F2F9FF;
    margin: 30px -30px;
}

a.comment-link{
    cursor: pointer;
}

a.comment-link:hover{
    color: #08A7F8;
    text-decoration: none;
}

a.small{
    cursor: pointer;
}

.comments p{
    color: #7e7e7e;
}

.comments a{
    color: #171a1d!important;
}

.form-control.error{
    border-color:#e74c3c!important;
    box-shadow:0 0 0 .2rem rgba(231,76,60,.25)
}

.panel-alert{
    border: solid 15px #F4F4F4;
    padding: 10px;
    background-color: #ffffff;
    font-size: 12px;
}

.comment.secondLevel{
    margin-left: 3rem !important;
}

.comment.thirdLevel{
    margin-left: 7rem !important;
}


/*
Animated skeleton screen using CSS.
*/
.commentsLoading:empty {
    margin: auto;
    width: 100%;
    height: 336px;

    background-image:
    radial-gradient( circle 30px at 30px 30px, #DFF0FF 99%, transparent 0 ),
    linear-gradient( 100deg, rgba(242, 249, 255, 0), rgba(242, 249, 255, 0.8) 50%, rgba(242, 249, 255, 0) 100% ),
    linear-gradient( #DFF0FF 15px, transparent 0 ),
    linear-gradient( #DFF0FF 15px, transparent 0 ),
    linear-gradient( #DFF0FF 15px, transparent 0 ),
    linear-gradient( #DFF0FF 15px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
    100px 200px, /* circle */
    50px 200px, /* highlight */
    200px 200px,
    200px 200px,
    100% 200px,
    100% 200px;

    background-position:
    0 0,
    0 0,
    90px 0,
    90px 40px,
    0px 80px,
    0px 120px;

    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position:
        0 0,
        100% 0,
        90px 0,
        90px 40px,
        0px 80px,
        0px 120px;
    }
}